<p-toast key="confirmDeletePersonToast" [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'400ms'"
    [baseZIndex]="1102" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
    
<p-confirmDialog #confirmDialog [rtl]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
    [style]="{width: '35vw'}">
    <ng-template pTemplate="footer">
        <p-button label="لغو" class="ms-auto" styleClass="p-button-danger p-button-outlined" icon="pi pi-times"
            (click)="confirmDialog.reject()"></p-button>
        <p-button label="حذف" styleClass="p-button-success" icon="pi pi-check" (click)="confirmDialog.accept()">
        </p-button>
    </ng-template>
</p-confirmDialog>