@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/font-icon/icomoon.eot?yno7tj');
    src:  url('../../fonts/font-icon/icomoon.eot?yno7tj#iefix') format('embedded-opentype'),
      url('../../fonts/font-icon/icomoon.ttf?yno7tj') format('truetype'),
      url('../../fonts/font-icon/icomoon.woff?yno7tj') format('woff'),
      url('../../fonts/font-icon/icomoon.svg?yno7tj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e905";
  color: #8391a2;
}
.icon-acc-arrow:before {
  content: "\e900";
  color: #8391a2;
}
.icon-close:before {
  content: "\e901";
  color: #8391a2;
}
.icon-dashboard:before {
  content: "\e902";
  color: #8391a2;
}
.icon-hamburger:before {
  content: "\e903";
  color: #8391a2;
}
.icon-settings:before {
  content: "\e904";
  color: #8391a2;
}
