.dialog-heading {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    h1 {
        font-weight: 500;
        margin: 0;
        line-height: 40px;
    }
    button {
        background: transparent;
    }
}
.dialog-content {
    display: flex;
    height: 100%;
    mat-tab-group {
        box-sizing: border-box;
        flex: 0 0 66.666666%;
        max-width: 66.666666%;
        height: 100%;
        .tab-footer{
            width: 100%;
            padding: 16px;
            height: 68px;
            margin-top: auto;
            box-sizing: border-box;
            border-top: 1px solid rgba(0,0,0,.12);
        }
    }
    .attachment-info {
        box-sizing: border-box;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        padding: 12px 16px;
        z-index: 75;
        background: #f6f7f7;
        border-right: 1px solid #dcdcde;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        box-shadow: inset 0 4px 4px -4px #0000001a;
    }
}

.attachment-info {
    .image-preview {
        width: 100%;
        padding-top: 100%;
        margin-bottom: 16px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: inset 0 0 0 1px #0000001a;
    }
    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.7rem;
    }
}
form {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #dcdcde;

    mat-form-field {
        width: 100%;
        margin-bottom: 16px;
    }
    button {
        width: 100%;
    }
}
.attachments-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 16px;
    box-sizing: border-box;
    // .empty-attachment-msg {
    //     margin-top: 16px;
    // }
    > ul {
        margin:  0;
        padding: 0;
        li {
            position: relative;
            float: right;
            padding: 8px;
            margin: 0;
            color: #3c434a;
            cursor: pointer;
            list-style: none;
            text-align: center;
            -webkit-user-select: none;
            user-select: none;
            width: 10%;
        }
        button.check {
            display: none;
            height: 24px;
            width: 24px;
            padding: 0;
            border: 0;
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            outline: 0;
            background: #f0f0f1;
            cursor: pointer;
            box-shadow: 0 0 0 1px #fff, 0 0 0 2px #00000026;
            .upload-modal-icon {
                display: block;
                background-position: -21px 0;
                height: 15px;
                width: 15px;
                margin: 5px;
                background-image: url("../../../../assets/images/uploader-icons.png");
                background-repeat: no-repeat;
            }
        }
        li.selected {
            box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #2271b1;
            .check {
                background-color: #2271b1;
                box-shadow: 0 0 0 1px #fff, 0 0 0 2px #2271b1;
                display: block;
            }
        }
    }
    .attachment-preview {
        position: relative;
        box-shadow: inset 0 0 15px #0000001a, inset 0 0 0 1px #0000000d;
        background: #f0f0f1;
        cursor: pointer;
        &::before {
            content: "";
            display: block;
            padding-top: 100%;
        }
        .thumbnail {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 1;
            transition: opacity 0.1s;
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                box-shadow: inset 0 0 0 1px #0000001a;
                overflow: hidden;
            }
            .centered {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                transform: translate(-50%, 50%);
            }
            img {
                position: absolute;
                top: 0;
                right: 0;
                max-height: 100%;
                transform: translate(50%, -50%);
            }
        }
        .upload-progress-bar {
            position: absolute;
            top: 50%;
            right: 15%;
            width: 70%;
            margin: -5px 0 0 0;
            height: 10px;
            border-radius: 10px;
            background: #dcdcde;
            background: rgba(0, 0, 0, 0.1);
            div {
                height: 10px;
                min-width: 20px;
                width: 0;
                background: #2271b1;
                border-radius: 10px;
                transition: width 0.3s;
            }
        }
    }
}
.load-more-wrapper {
    font-size: 0.8rem;
    clear: both;
    text-align: center;
    padding: 1em 0;
    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }
    .hidden {
        display: none;
    }
    mat-spinner {
        margin-right: 10px;
    }
    p {
        margin: 0;
        line-height: 20px;
    }
}










.is-dragover {
    background-color: #fff;
    * {
        pointer-events: none;
    }
}
.uploader-inline-container {
    width: 100%;
    padding: 2rem;
    height: calc(100% - 30px);
}
.uploader-inline {
    position: relative;
    padding: 1.5rem;
    border: 4px dashed #c3c4c7;
    text-align: center;
    color: #3c434a;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    #input-file {
        display: none;
    }
    p {
        margin: 0.4rem 0;
        font-size: 0.8rem;
    }
    h2 {
        font-size: 1.2rem;
        line-height: 1.4;
        font-weight: bold;
        margin: 0;
        color: #1d2327;
    }
    .upload-ui {
        margin-bottom: 1.5rem;
    }
    .button-hero {
        min-height: 45px;
        line-height: 3;
        font-size: 0.85rem;
        padding: 0 2rem;
        cursor: pointer;
    }
}
