<div class="dialog-heading">
    <h1>پیوست ها</h1>
    <button mat-icon-button (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="dialog-content">
    <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndex=$event">
        <mat-tab label="بارگذاری پرونده‌ها">
    
            <div class="uploader-inline" appDragDropUpload (appdrop)="onUpload($event)">
                <div class="uploader-inline-content">
                    <div class="upload-ui">
    
                        <h2 class="upload-instructions">برای بارگذاری، پرونده‌ها را بکشید</h2>
                        <p>یا</p>
                        <input type="file" name="image" id="input-file" accept="image/*" (change)="onUpload($event.target)"
                            multiple />
                        <label for="input-file" class="button-hero wp-btn">گزینش پرونده‌ها</label>
                    </div>
                    <p class="max-upload-size">حداکثر اندازه پرونده برای بارگذاری: 200 مگابایت. </p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="کتابخانه پرونده‌های چندرسانه‌ای">
            
            <div class="attachments-wrapper">
                <ul *ngIf="images.length; else noImage" tabindex="-1">
            <!--         <li tabindex="0" class="selected">
                        <div class="attachment-preview">
                            <div class="thumbnail">
                                <div class="upload-progress-bar">
                                    <div style="width: 5%"></div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="check" tabindex="-1">
                            <span class="upload-modal-icon"></span>
                        </button>
                    </li> -->
                    <!-- <li tabindex="0">
                        <div class="attachment-preview">
                            <div class="thumbnail">
                                <div class="upload-progress-bar">
                                    <div style="width: 50%"></div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="check" tabindex="-1">
                            <span class="upload-modal-icon"></span>
                        </button>
                    </li> -->
                    <li *ngFor="let image of images;let index = index" (click)="selectImage($event, image)" tabindex="0" [ngClass]="{'app-remove-highlight':image.isRemoved, 'app-edit-highlight': image.isEdited, 'app-add-highlight':image.isAdded, 'selected':image.isSelected}">
                        <div class="attachment-preview">
                            <div class="thumbnail">
                                <!-- <div class="upload-progress-bar"><div style="width: 5%"></div></div> -->
                                <div class="centered">
                                    <img class="details-image" [src]="image.resourceUrl" [alt]="image.alternateText">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="check" tabindex="-1">
                            <span class="upload-modal-icon"></span>
                        </button>
                    </li>
            
                </ul>
                <ng-template #noImage>
                    <div class="empty-attachment-msg">
                        <h2>
                            موردی برای نمایش وجود ندارد.
                        </h2>
                    </div>
                </ng-template>
                <div *ngIf="images.length" class="load-more-wrapper">
                   <div class="app-spinner-container">
                       <mat-spinner [diameter]="20" [class.d-none]="!showLoading"></mat-spinner>
                       <p class="load-more-count">نمایش {{images.length}} از {{tableRowsTotal}} موارد رسانه</p>
                   </div>
                    <button *ngIf="!isDone" mat-raised-button type="button" color="primary" (click)="loadMoreImage()">بارگذاری بیشتر</button>
                </div>
            </div>
           <div class="tab-footer">
            <button mat-raised-button (click)="addImage()" color="primary">افزودن</button>
           </div>
        </mat-tab>
    
    </mat-tab-group>
    
    <div class="attachment-info">
        <ng-container *ngIf="selectedImages.length">
            <div class="image-preview" [style]="'background-image:url(' + selectedImages[selectedImages.length-1].resourceUrl + ')'"></div>
            <div>
                <div><strong>تاریخ بارگذاری:</strong> {{selectedImages[selectedImages.length-1].uploadDate | date:'fullDate'}}</div>
                <div><strong>نام پرونده:</strong> {{selectedImages[selectedImages.length-1].name}}</div>
                <div><strong>نوع پرونده:</strong> {{selectedImages[selectedImages.length-1].contentType}}</div>
                <div><strong>اندازه پرونده:</strong> {{selectedImages[selectedImages.length-1].size }} کیلوبایت</div>
                <div class="actions">
                    <a mat-button [href]="selectedImages[selectedImages.length-1].resourceUrl" color="primary" target="_blank">نمایش صفحهٔ پیوست</a>
                    <button type="button" mat-button color="warn" (click)="openDialog(selectedImages[selectedImages.length-1])">حذف برای همیشه</button>
                </div>
            </div>
            <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill" [hideRequiredMarker]="true">
                    <mat-label>متن جایگزین</mat-label>
                    <input matInput formControlName="alt">
                    <mat-hint>هدف از تصویر را شرح دهید. اگر تصویر کاملا
                        تزئینی است این را خالی رها نمایید.</mat-hint>
                    <mat-error *ngIf="cardForm.controls['alt'].invalid">بیشتر از 150 حرف مجاز نیست</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" [hideRequiredMarker]="true">
                    <mat-label>توضیح</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                    <mat-error *ngIf="cardForm.controls['description'].invalid">بیشتر از 255 حرف مجاز نیست</mat-error>
                    </mat-form-field>
                <button mat-raised-button [disabled]="!cardForm.valid || (disableSave | async)" color="primary">ثبت</button>
            </form>
        </ng-container>
    </div>
</div>