<div class="menu-group" *ngFor="let accordionItem of accordionInitObject">
    <a *ngIf="accordionItem.url.length" class="menu-single-item" [routerLink]="accordionItem.url">
        <i *ngIf="accordionItem.icon.length" [class]="accordionItem.icon"></i>
        <span>{{accordionItem.heading}}</span>
    </a>
    <a *ngIf="!accordionItem.url.length" class="menu-heading" (click)="false">
        <i *ngIf="accordionItem.icon.length" [class]="accordionItem.icon"></i>
        <span>{{accordionItem.heading}}</span>
    </a>
    <app-sub-accordion-group [accordionGroupItem]="accordionItem.group"></app-sub-accordion-group>
</div>