<p-table selectionMode="single" [(selection)]="selectedPerson" [value]="persons"
    styleClass="p-datatable-sm p-datatable-gridlines" responsiveLayout="scroll" (sortFunction)="columnSort($event)"
    [customSort]="true">
    <ng-template pTemplate="caption">
        <div class="d-flex">
            <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input type="text" class="p-inputtext-sm table-search" pInputText [(ngModel)]="searchForm" (input)="searchFormPerson()" placeholder="جستجو" />
            </span>
            <button pButton type="button" label="افزودن" icon="pi pi-plus" (click)="dialogPersonComponent.showPersonDialog()"
                class="p-button-sm p-button-success ms-auto"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>ردیف</th>
            <th pSortableColumn="firstName">نام<p-sortIcon field="firstName"></p-sortIcon>
            </th>
            <th pSortableColumn="lastName">نام خانوادگی<p-sortIcon field="lastName"></p-sortIcon>
            </th>
            <th>نام پدر</th>
            <th pSortableColumn="nationalID">کد ملی<p-sortIcon field="nationalID"></p-sortIcon>
            </th>
            <th>شماره شناسنامه</th>
            <th>محل تولد</th>
            <th>تاریخ تولد</th>
            <th>آدرس</th>
            <th>تلفن</th>
            <th>عملیات</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person let-rowIndex="rowIndex">
        <tr [class.app-remove-highlight]="person.isRemoved" [class.app-edit-highlight]="person.isEdited" [class.app-warn-highlight]="person.hasWarning" [class.app-add-highlight]="person.isAdded" [pSelectableRow]="person">
            <td>{{currentPage*tableRows+rowIndex+1}}</td>
            <td>{{person.firstName}}</td>
            <td>{{person.lastName}}</td>
            <td>{{person.fatherName}}</td>
            <td>{{person.nationalID}}</td>
            <td>{{person.certificateNumber}}</td>
            <td>{{person.fromLocation}}</td>
            <td>{{person.stringBirthDate}}</td>
            <td>{{person.address}}</td>
            <td>{{person.phoneNumber}}</td>
            <td>
                <span class="app-operation-item" (click)="dialogPersonComponent.showPersonDialog(person , currentPage*tableRows+rowIndex+1)">ویرایش</span>
                <span class="app-operation-item" (click)="confirmDeletePersonComponent.showDeletePersonConf(person , currentPage*tableRows+rowIndex+1)">حذف</span>
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="custom-table-summary">
    <p-paginator [rows]="tableRows" [first]="first" [totalRecords]="tableRowsTotal" [rowsPerPageOptions]="[10,20,30]"
        (onPageChange)="paginate($event)"></p-paginator>
</div>


<app-dialog-person (update)="updateFromPersonDialog($event)"></app-dialog-person>
<app-confirm-delete-person (update)="updateFromDeletePerson($event)"></app-confirm-delete-person>