<p-toast key="personEditResult" [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'1500ms'" [baseZIndex]="1102" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<p-table [value]="persons" styleClass="p-datatable-sm p-datatable-gridlines" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>ردیف</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>نام پدر</th>
            <th>کد ملی</th>
            <th>شماره شناسنامه</th>
            <th>محل تولد</th>
            <th>تاریخ تولد</th>
            <th>آدرس</th>
            <th>تلفن</th>
            <th>عملیات</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person let-rowIndex="rowIndex">
        <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{person.firstName}}</td>
            <td>{{person.lastName}}</td>
            <td>{{person.fatherName}}</td>
            <td>{{person.nationalID}}</td>
            <td>{{person.certificateNumber}}</td>
            <td>{{person.fromLocation}}</td>
            <td>{{person.stringBirthDate}}</td>
            <td>{{person.address}}</td>
            <td>{{person.phoneNumber}}</td>
            <td><span class="app-operation-edit" (click)="showDialog(person , rowIndex)">ویرایش</span></td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="DialogEditPerson" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <h4>ویرایش ردیف {{ editPersonRowIndex }}</h4>
    </ng-template>
<div class="progress-spinner">
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="row">
    <div class="p-field col-4">
        <label for="username2">نام</label>
        <input id="username2" type="username" aria-describedby="username2-help" [(ngModel)]="editPerson_firstname" class="p-inputtext-sm" pInputText />
        
    </div>  
   
    <div class="p-field col-4">
        <label for="username2">نام خانوادگی</label>
        <input id="username2" type="username" aria-describedby="username2-help" [(ngModel)]="editPerson_lastname" class="p-inputtext-sm" pInputText />
    </div> 
    <div class="p-field col-4">
        <label for="username2">نام پدر</label>
        <input id="username2" type="username" aria-describedby="username2-help" [(ngModel)]="editPerson_father_name" class="p-inputtext-sm" pInputText />
        
    </div>  
</div> 
<div class="row">

   
    <div class="p-field col-4">
        <label for="username2">کد ملی</label>
        <input id="username2" type="username" aria-describedby="username2-help" [(ngModel)]="editPerson_national_id" class="p-inputtext-sm" pInputText />
    </div> 
    <div class="p-field col-4">
        <label for="username2">شماره شناسنامه</label>
        <input id="username2" type="username" aria-describedby="username2-help" [(ngModel)]="editPerson_certificate_number" class="p-inputtext-sm" pInputText />
        
    </div>  
   
    <div class="p-field col-4">
        <label for="username2">صادره از</label>
        <input id="username2" type="username" aria-describedby="username2-help" [(ngModel)]="editPerson_from_location" class="p-inputtext-sm" pInputText />
    </div> 
</div> 

<div class="row">


    <div class="p-field col-4">
        <label for="username2">تاریخ تولد</label>
        <input id="username2" type="username" aria-describedby="username2-help" [(ngModel)]="editPerson_string_birth_date" class="ng-invalid ng-dirty p-inputtext-sm" pInputText />
        <small id="username2-help" class="p-error">Username is not available.</small>
    </div> 
    <div class="p-field col-4">
        <label for="username2">آدرس</label>
        <input id="username2" type="username" aria-describedby="username2-help" [(ngModel)]="editPerson_address" class="p-inputtext-sm" pInputText />
        
    </div>  
    <div class="p-field col-4">
        <label for="username2">تلفن</label>
        <input id="username2" type="username" aria-describedby="username2-help" [(ngModel)]="editPerson_phone_number" class="p-inputtext-sm" pInputText />
    </div> 
</div> 


    <ng-template pTemplate="footer">
        <div class="d-flex pt-3">
            <p-button label="لغو" (onClick)="DialogEditPerson = false" styleClass="p-button-danger p-button-outlined" class="ms-auto">
            </p-button>
            <p-button label="ثبت" (onClick)="editPersonSubmit()" styleClass="p-button-success"></p-button>
        </div>
    </ng-template>
</p-dialog>