
p-dialog{
    .p-field{
        font-size: 0.9rem;
        position: relative;
        label , input , small{
            display: block;
        }
        input{
            width: 90%;
        }
        label {
            font-weight: bold;
            margin-bottom: 3px;
        }
        small{
            position: absolute;
            bottom: -1.8em;
        }
    }
    .row{
        
            margin-top: 1.5rem;
        
    }
}
.app-operation-edit{
    border-bottom: 1px dotted #0d6efd80;
    cursor: pointer;
    color: #0d6efd;
}