.dialog-content {
    height: 100%;
    > .row {
        height: 100%;
        align-items: flex-start;
        border-top: 1px solid #dcdcde;
        margin: 0;
    }
}
.thumbnail-image {
    padding: 1rem;
    height: 100%;
    .details-image {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: calc(100% - 2rem);
        height: 100%;
        background-image: linear-gradient(-45deg, #c3c4c7 25%, transparent 25%, transparent 75%, #c3c4c7 75%, #c3c4c7),
            linear-gradient(-45deg, #c3c4c7 25%, transparent 25%, transparent 75%, #c3c4c7 75%, #c3c4c7);
        background-position: 100% 0, 10px 10px;
        background-size: 20px 20px;
    }
}
.attachment-info {
    overflow: auto;
    padding: 12px 16px;
    height: 100%;
    box-shadow: inset 0 4px 4px -4px #0000001a;
    border-right: 1px solid #dcdcde;
    background: #f6f7f7;
    font-size: 13px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .settings-save-status {
        float: left;
    }
    > div:not(:last-child) {
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #dcdcde;
    }
    .details {
        .delete-attachment {
            color: #d63638;
            border: 0;
            border-bottom: 1px dotted transparent;
            &:hover {
                border-color: #d63638;
            }
            &:disabled {
                opacity: 0.7;
                pointer-events: none;
            }
        }
    }
    .settings {
    }
    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.7rem;
    }
}
.app-update-upload-btn {
    // display: block;
    margin: auto auto 0 0;
}
.app-dialog-title {
    margin: 0 1rem 0 0;
}
.p-field {
    display: block;
    float: right;
    width: 100%;
    margin: 0 0 10px;
    label {
        min-width: 30%;
        margin-left: 4%;

        text-align: left;
        word-wrap: break-word;
        float: right;
        min-height: 22px;
        padding-top: 8px;
        line-height: 1.33333333;
        font-weight: 400;
        color: #646970;
    }

    input,
    textarea {
        width: 65%;
        float: left;
    }
    small {
        margin: 0 1px;
        text-align: right;
        width: 65%;
        float: left;
        line-height: 1.5;
        clear: both;
        font-size: 12px;
        font-style: normal;
        margin-bottom: 10px;
        display: block;
    }
    .field-desc {
        margin: 0 1px;
        text-align: right;
        width: 65%;
        float: left;
        color: #646970;
        line-height: 1.5;
        clear: both;
        font-size: 12px;
        font-style: normal;
        margin-bottom: 10px;
    }
}
