<p-toast key="uploadDetailsDialogToast" [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'400ms'"
    [baseZIndex]="1102" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>

<p-dialog (onHide)="hideDialog()" [(visible)]="uploadDetailsDialog" [modal]="true" [dismissableMask]="true"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '90vw'}">
    <ng-template pTemplate="header">
        <h4>{{dialogTitle}}</h4>
    </ng-template>
    <div class="progress-spinner" [class.d-none]="!displayDialogSpinner">
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div *ngIf="image" class="dialog-content">

        <div class="row">
            <div class="col-8 thumbnail-image">
                <img *ngIf="image" class="details-image"
                    [src]="'./assets/api/upload/MEDIA/IMAGE/' + image.mediaUUID + '/' + image.name"
                    [alt]="image.name.split('.')[0]">
            </div>
            <div class="col-4 attachment-info">
                <span class="settings-save-status" role="status">
                    <span class="spinner"></span>
                    <span class="saved">ذخیره‌شد.</span>
                </span>
                <div class="details">

                    <!-- <h2 class="screen-reader-text">جزئیات</h2> -->
                    <div class="uploaded"><strong>تاریخ بارگذاری:</strong> {{image.uploadDate}}</div>
                    <!-- <div class="uploaded-by">
                        <strong>بارگذاری شده توسط:</strong>
                        <a href="#">شایان غزالی</a>
                    </div> -->

                    <div class="filename"><strong>نام پرونده:</strong> {{image.name}}</div>
                    <div class="file-type"><strong>نوع پرونده:</strong> {{image.contentType}}</div>
                    <div class="file-size"><strong>اندازه پرونده:</strong> {{image.size}} کیلوبایت</div>


                    <!-- 
                    <div class="dimensions"><strong>ابعاد:</strong>
                        1200 در 800 پیکسل </div>

                    <div class="compat-meta">

                    </div> -->

                </div>
                <div>
                    <div class="p-field">
                        <label>متن جایگزین<span class="app-required-star">*</span></label>
                        <input type="text" class="p-inputtext-sm app-small-input" [class.ng-dirty]="false" [class.ng-invalid]="false" pInputText />
                        <small class="p-error">text</small>
                    </div>
                    <div class="p-field">
                        <label>عنوان<span class="app-required-star">*</span></label>
                        <input type="text" class="p-inputtext-sm app-small-input" [class.ng-dirty]="false" [class.ng-invalid]="false" pInputText />
                        <small class="p-error">text</small>
                    </div>
                    <div class="p-field">
                        <label>توضیح<span class="app-required-star">*</span></label>
                        <input type="text" class="p-inputtext-sm app-small-input" [class.ng-dirty]="false" [class.ng-invalid]="false" pInputText />
                        <small class="p-error">text</small>
                    </div>
                    <div class="p-field">
                        <label>نشانی پرونده<span class="app-required-star">*</span></label>
                        <input type="text" class="p-inputtext-sm app-small-input" [class.ng-dirty]="false" [class.ng-invalid]="false" pInputText />
                        <small class="p-error">text</small>
                    </div>
                    <!-- <div class="p-field">
                        <label>نام<span class="app-required-star" *ngIf="true">*</span></label>
                        <input type="text" [(ngModel)]="" class="p-inputtext-sm app-small-input" [class.ng-dirty]="false" [class.ng-invalid]="false" pInputText />
                        <small class="p-error" *ngIf="false">text</small>
                    </div> -->

                </div>
                <div class="footer bg-primary">
                    sss
                </div>
            </div>
        </div>
    </div>

</p-dialog>