.wp-btn {
    font-size: 0.8rem;
    line-height: 2.1;
    min-height: 30px;
    padding: 0 0.7rem;
    color: #2271b1;
    border: 1px solid #2271b1;
    border-radius: 3px;
    background: #f6f7f7;
    -webkit-appearance: none;
    white-space: nowrap;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    &:hover {
        background: #f0f0f1;
        border-color: #0a4b78;
        color: #0a4b78;
    }
    &:disabled {
        opacity: 0.7;
        pointer-events: none;
    }
}
.wp-select {
    font-size: 0.85rem;
    line-height: 2;
    color: #2c3338;
    border: 1px solid #8c8f94;
    box-shadow: none;
    border-radius: 3px;
    padding: 0 8px 0 24px;
    min-height: 30px;
    max-width: 25rem;
    -webkit-appearance: none;
    background: #fff
        url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E)
        no-repeat left 5px top 55%;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 1px;

    &:active {
        border-color: #8c8f94;
        box-shadow: none;
    }

    &:focus {
        border-color: #2271b1;
        color: #0a4b78;
        box-shadow: 0 0 0 1px #2271b1;
        outline: 2px solid transparent;
    }
    &:hover {
        color: #2271b1;
    }
}
.wp-textarea {
    font-size: 0.85rem;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
    overflow: auto;
    padding: 2px 6px;
    line-height: 1.42857143;
    resize: vertical;
    &:focus {
        border-color: #2271b1;
        box-shadow: 0 0 0 1px #2271b1;
        outline: 2px solid transparent;
    }
}
.wp-control {
    margin: 1px;
    padding: 6px 8px;
    line-height: 1.14285714;
    min-height: 30px;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
    font-size: 14px;
    box-shadow: 0 0 0 transparent;
    &:focus {
        border-color: #2271b1;
        box-shadow: 0 0 0 1px #2271b1;
        outline: 2px solid transparent;
    }
    &.ng-invalid {
        border-color: #f44336;
        &:focus {
            box-shadow: 0 0 0 0.2rem #ffdcdc;
        }
    }
}
.wp-btn-primary {
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
    &:hover {
        background: #135e96;
        border-color: #135e96;
        color: #fff;
    }
}
.wp-checkbox {
    border: 1px solid #8c8f94;
    border-radius: 4px;
    background: #fff;
    color: #50575e;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 1rem;
    margin: -0.25rem 0 0 0.25rem;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 1rem;
    min-width: 1rem;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    transition: 0.05s border-color ease-in-out;
    &:checked::before {
        content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%233582c4%27%2F%3E%3C%2Fsvg%3E);
        margin: -0.1875rem -0.25rem 0 0;
        height: 1.3125rem;
        width: 1.3125rem;
        float: right;
        display: inline-block;
        vertical-align: middle;
        width: 1rem;
        speak: never;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.wp-table {
    background: #fff;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px #0000000a;
    border-spacing: 0;
    width: 100%;
    clear: both;
    margin: 0;
    table-layout: fixed;
    text-align: right;
    line-height: 1.5em;
    font-size: 14px;
    color: #2c3338;
    a {
        color: #2271b1;
        text-decoration: none;
    }
    td {
        vertical-align: top;
        border-bottom: 1px solid #c3c4c7;
        padding: 8px 10px;
        font-weight: 400;
    }
    th {
        border-bottom: 1px solid #c3c4c7;
        padding: 8px 10px;
        font-weight: 400;
        .sortable {
            padding: 0;
            a {
                display: block;
                overflow: hidden;
                padding: 8px;
            }
        }
    }
    tr {
        .row-actions {
            display: none;
            .trash a {
                color: #b32d2e;
            }
        }
        &:hover .row-actions {
            display: block;
        }
    }
    tbody tr:nth-child(odd) {
        background-color: #f6f7f7;
    }
    .sortable span::after {
        display: inline-block;
        margin-right: 0.255em;
        vertical-align: middle;
        content: "";
        border-bottom: 0.3em solid;
        border-left: 0.3em solid transparent;
        border-top: 0;
        border-right: 0.3em solid transparent;
    }
    .sortable.desc span::after {
        border-top: 0.3em solid;
        border-bottom: 0;
    }

    .check-column {
        width: 2.2em;
        vertical-align: top;
        padding: 11px 3px 0 0;
        input {
            margin: 0 8px 0 0;
            padding: 0;
            vertical-align: text-top;
        }
    }

    .comment-number {
        background-color: #6c757d;
        &:hover {
            background-color: #2271b1;
        }
    }
}
p.description {
    margin: 2px 0 5px;
    color: #646970;
    font-size: 0.81rem;
    line-height: 1.5;
}
.term-notes {
    margin-top: 2rem;
}
