<div class="form-heading">
    <h1>فرم افزودن دسته بندی رسانه</h1>
</div>
<form [formGroup]="cardForm">
    <!-- <div class="field">
        <mat-form-field appearance="fill"
            [ngClass]="{'app-error-minlength':cardForm.controls['firstname'].errors?.['minlength'], 'app-error-required':cardForm.controls['firstname'].errors?.['required']}">
            <mat-label>نام</mat-label>
            <input matInput formControlName="firstname" (input)="changeHandler()">
        </mat-form-field>
        <ng-container
            *ngIf="cardForm.controls['firstname'].touched && cardForm.controls['firstname'].dirty && cardForm.controls['firstname'].errors">
            <div *ngIf="cardForm.controls['firstname'].errors['required']">please fill inputs</div>
            <div *ngIf="cardForm.controls['firstname'].errors['minlength']">atleast
                {{cardForm.controls['firstname'].errors['minlength'].requiredLength}} character</div>
            <div *ngIf="cardForm.controls['firstname'].errors['pattern']">invalid format</div>
        </ng-container>
    </div> -->
    <mat-form-field appearance="fill" [hideRequiredMarker]="false">
        <mat-label>نام</mat-label>
        <input matInput formControlName="firstname" required>
        <mat-error *ngIf="cardForm.controls['firstname'].invalid">بین 2 تا 30 حرف مجاز است</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" [hideRequiredMarker]="false">
        <mat-label>نام خانوادگی</mat-label>
        <input matInput formControlName="lastname" required>
        <mat-error *ngIf="cardForm.controls['lastname'].invalid">بین 2 تا 30 حرف مجاز است</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" [hideRequiredMarker]="false">
        <mat-label>نام پدر</mat-label>
        <input matInput formControlName="fathername" required>
        <mat-error *ngIf="cardForm.controls['fathername'].invalid">بین 2 تا 30 حرف مجاز است</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" [hideRequiredMarker]="false">
        <mat-label>کد ملی</mat-label>
        <input matInput type="number" formControlName="nationalId" required>
        <mat-error *ngIf="cardForm.controls['nationalId'].invalid">10 رقم مجاز است</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" [hideRequiredMarker]="false">
        <mat-label>شماره شناسنامه</mat-label>
        <input matInput type="number" formControlName="certificateNumber" required>
        <mat-error *ngIf="cardForm.controls['certificateNumber'].invalid">بیش از 12 رقم مجاز نیست</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" [hideRequiredMarker]="true">
        <mat-label>صادره از</mat-label>
        <input matInput formControlName="fromLocation">
    </mat-form-field>
    <mat-form-field appearance="fill" [hideRequiredMarker]="false">
        <mat-label>تاریخ تولد</mat-label>
        <input matInput formControlName="stringBirthDate" required>
        <mat-error *ngIf="cardForm.controls['stringBirthDate'].invalid">xxxx/xx/xx فرمت مجاز می باشد</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" [hideRequiredMarker]="true">
        <mat-label>آدرس</mat-label>
        <input matInput formControlName="address">
    </mat-form-field>
    <mat-form-field appearance="fill" [hideRequiredMarker]="false">
        <mat-label>تلفن</mat-label>
        <input matInput type="number" formControlName="phoneNumber" required>
        <mat-error *ngIf="cardForm.controls['phoneNumber'].invalid">11 رقم مجاز است</mat-error>
    </mat-form-field>

    <button mat-raised-button [disabled]="!cardForm.valid" color="primary">ثبت</button>

</form>
<!-- <div class="vertical-space">{{ cardForm.value['firstname'] }}</div>
<div class="vertical-space">{{ cardForm.value | json }}</div>
<div class="vertical-space">{{ cardForm.controls['firstname'].errors | json }}</div>
<div class="vertical-space">{{ cardForm.valid }}</div>

<hr>

<div class="vertical-space">{{ cardForm.controls['firstname'].touched }}</div>
<div class="vertical-space">{{ cardForm.controls['firstname'].untouched }}</div>

<hr style="border-color: red;">

<div class="vertical-space">{{ cardForm.value | json }}</div> -->