
p-dialog{
    .p-field{
        font-size: 0.9rem;
        position: relative;
        label , input , small{
            display: block;
        }
        input{
            width: 100%;
        }
        label {
            font-weight: bold;
            margin-bottom: 3px;
        }
        small{
            position: absolute;
            bottom: -1.8em;
            font-size: 0.7rem;
            white-space: nowrap;
        }
    }
    .row{
        
            margin-top: 1.5rem;
        
    }
}

  .app-input-counter{
    position: absolute;
    left: 0.9rem;
    font-size: 0.7rem;
    color: #9e9e9e;
  }
    .app-required-star{
        color: #ff0000;
    }