<p-toast key="DialogPersonToast" [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'400ms'" [baseZIndex]="1102"
[breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast> 
<p-dialog (onHide)="hideDialog()" [(visible)]="DialogPerson" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
[style]="{width: '50vw'}">
<ng-template pTemplate="header">
    <h4>{{dialogTitle}}</h4>
</ng-template>
<div class="progress-spinner" [class.d-none]="!displayDialogSpinner">
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="row">
    <div class="p-field col-4">
        <label>نام<span class="app-required-star" *ngIf="editPersonValidateObj.firstName.isRequired">*</span></label>
        <input type="text" (input)="enableSubmitBtn()" [(ngModel)]="editPerson_firstname"
            class="p-inputtext-sm" [class.ng-dirty]="editPersonValidateObj.firstName.hasError"
            [class.ng-invalid]="editPersonValidateObj.firstName.hasError" pInputText />
        <small class="p-error"
            *ngIf="editPersonValidateObj.firstName.hasError">{{editPersonValidateObj.firstName.errorMessage}}</small>

    </div>

    <div class="p-field col-4">
        <label>نام خانوادگی<span class="app-required-star" *ngIf="editPersonValidateObj.lastName.isRequired">*</span></label>
        <input type="text" (input)="enableSubmitBtn()" [(ngModel)]="editPerson_lastname"
            class="p-inputtext-sm" [class.ng-dirty]="editPersonValidateObj.lastName.hasError"
            [class.ng-invalid]="editPersonValidateObj.lastName.hasError" pInputText />
        <small class="p-error"
            *ngIf="editPersonValidateObj.lastName.hasError">{{editPersonValidateObj.lastName.errorMessage}}</small>
    </div>
    <div class="p-field col-4">
        <label>نام پدر<span class="app-required-star" *ngIf="editPersonValidateObj.fatherName.isRequired">*</span></label>
        <input type="text" (input)="enableSubmitBtn()" [(ngModel)]="editPerson_father_name"
            class="p-inputtext-sm" [class.ng-dirty]="editPersonValidateObj.fatherName.hasError"
            [class.ng-invalid]="editPersonValidateObj.fatherName.hasError" pInputText />
        <small class="p-error"
            *ngIf="editPersonValidateObj.fatherName.hasError">{{editPersonValidateObj.fatherName.errorMessage}}</small>

    </div>
</div>
<div class="row">


    <div class="p-field col-4">
        <label>کد ملی<span class="app-required-star" *ngIf="editPersonValidateObj.nationalID.isRequired">*</span></label>
        <input type="text" appOnlyNumbers (input)="enableSubmitBtn()"
            [(ngModel)]="editPerson_national_id" class="p-inputtext-sm"
            [class.ng-dirty]="editPersonValidateObj.nationalID.hasError"
            [class.ng-invalid]="editPersonValidateObj.nationalID.hasError" pInputText />
        <small class="p-error"
            *ngIf="editPersonValidateObj.nationalID.hasError">{{editPersonValidateObj.nationalID.errorMessage}}</small>
    </div>
    <div class="p-field col-4">
        <label>شماره شناسنامه<span class="app-required-star" *ngIf="editPersonValidateObj.certificateNumber.isRequired">*</span></label>
        <input type="text" appOnlyNumbers (input)="enableSubmitBtn()"
            [(ngModel)]="editPerson_certificate_number" class="p-inputtext-sm"
            [class.ng-dirty]="editPersonValidateObj.certificateNumber.hasError"
            [class.ng-invalid]="editPersonValidateObj.certificateNumber.hasError" pInputText />
        <small class="p-error"
            *ngIf="editPersonValidateObj.certificateNumber.hasError">{{editPersonValidateObj.certificateNumber.errorMessage}}</small>

    </div>

    <div class="p-field col-4">
        <label>صادره از<span class="app-required-star" *ngIf="editPersonValidateObj.fromLocation.isRequired">*</span></label>
        <input type="text" (input)="enableSubmitBtn()" [(ngModel)]="editPerson_from_location"
            class="p-inputtext-sm" [class.ng-dirty]="editPersonValidateObj.fromLocation.hasError"
            [class.ng-invalid]="editPersonValidateObj.fromLocation.hasError" pInputText />
        <small class="p-error"
            *ngIf="editPersonValidateObj.fromLocation.hasError">{{editPersonValidateObj.fromLocation.errorMessage}}</small>
    </div>
</div>

<div class="row">


    <div class="p-field col-4">
        <label>تاریخ تولد<span class="app-required-star" *ngIf="editPersonValidateObj.stringBirthDate.isRequired">*</span></label>
        <input type="text" (input)="enableSubmitBtn()"
            [(ngModel)]="editPerson_string_birth_date" class="p-inputtext-sm"
            [class.ng-dirty]="editPersonValidateObj.stringBirthDate.hasError"
            [class.ng-invalid]="editPersonValidateObj.stringBirthDate.hasError" pInputText />
        <small class="p-error"
            *ngIf="editPersonValidateObj.stringBirthDate.hasError">{{editPersonValidateObj.stringBirthDate.errorMessage}}</small>
    </div>
    <div class="p-field col-4">
        <label>آدرس<span class="app-required-star" *ngIf="editPersonValidateObj.address.isRequired">*</span></label>
        <input type="text" (input)="enableSubmitBtn()" [(ngModel)]="editPerson_address"
            class="p-inputtext-sm" [class.ng-dirty]="editPersonValidateObj.address.hasError"
            [class.ng-invalid]="editPersonValidateObj.address.hasError" pInputText />
        <small class="p-error"
            *ngIf="editPersonValidateObj.address.hasError">{{editPersonValidateObj.address.errorMessage}}</small>

    </div>
    <div class="p-field col-4">
        <label>تلفن<span class="app-required-star" *ngIf="editPersonValidateObj.phoneNumber.isRequired">*</span></label>
        <input type="text" appOnlyNumbers (input)="enableSubmitBtn()"
            [(ngModel)]="editPerson_phone_number" class="p-inputtext-sm"
            [class.ng-dirty]="editPersonValidateObj.phoneNumber.hasError"
            [class.ng-invalid]="editPersonValidateObj.phoneNumber.hasError" pInputText />
        <small class="p-error"
            *ngIf="editPersonValidateObj.phoneNumber.hasError">{{editPersonValidateObj.phoneNumber.errorMessage}}</small>
    </div>
</div>


<ng-template pTemplate="footer">
    <div class="d-flex pt-3">
        <p-button label="لغو" (onClick)="DialogPerson = false" styleClass="p-button-danger p-button-outlined"
            class="ms-auto">
        </p-button>
        <p-button label="ثبت" [disabled]="displaySubmitBtn" (onClick)="dialogPersonSubmit(dialogStatus)"
            styleClass="p-button-success"></p-button>
    </div>
</ng-template>
</p-dialog> 