<mat-toolbar color="primary">
  <nav class="primary-menu-navbar">
    <a mat-button routerLink="home/list" routerLinkActive="active">مدیریت بایگانی</a>
    <a mat-button routerLink="person/list" routerLinkActive="active">شخص</a>
    <a mat-button routerLink="letter/list" routerLinkActive="active">قلنامه</a>
    <a mat-button routerLink="vehicle/list" routerLinkActive="active">وسیله نقلیه</a>
    <a mat-button routerLink="company/list" routerLinkActive="active">کمپانی</a>
    <a mat-button routerLink="upload/list" routerLinkActive="active">رسانه</a>
    <a mat-button routerLink="upload/category/list" routerLinkActive="active">دسته بندی رسانه</a>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>