.primary-menu-navbar {
    a {
        border: 0;
        &:focus,
        &:hover {
            background: rgba(0, 0, 0, 0.4);
        }
    }
    .active{
        background: rgba(0, 0, 0, 0.4);
    }
}
