
// p-dialog{
    .p-field{
        font-size: 0.9rem;
        position: relative;
        label , input , small{
            display: block;
        }
        input{
            width: 100%;
        }
        label {
            font-weight: bold;
            margin-bottom: 3px;
        }
        small{
            position: absolute;
            bottom: -1.8em;
            font-size: 0.7rem;
            white-space: nowrap;
        }
    }
    .row{
        
            margin-top: 1.5rem;
        
    }
// }

  .app-input-counter{
    position: absolute;
    left: 0.9rem;
    font-size: 0.7rem;
    color: #9e9e9e;
  }
    .app-required-star{
        color: #ff0000;
    }








    .product_images{
        margin: 0;
        padding: 0;
        list-style: none;
        &::before{
            content: " ";
            display: table;
        }
        >li{
            width: 80px;
            float: right;
            cursor: move;
            border: 1px solid #d5d5d5;
            margin: 9px 0 0 9px;
            background: #f7f7f7;
            border-radius: 2px;
            position: relative;
            box-sizing: border-box;
            img{
                width: 100%;
                height: auto;
                display: block;
            }
            .actions{
                position: absolute;
                top: -8px;
                left: -8px;
                padding: 2px;
                display: none;
                margin: 0;
                list-style: none;
                li{
                    float: left;
                    margin: 0 2px 0 0;
                    a{
                        display: block;
                        text-indent: -9999px;
                        position: relative;
                        height: 1em;
                        width: 1em;
                        font-size: 1.4em;
                    }
                }
            }
            &:hover{
                .actions{
                    display: block;
                }
            }
        }
    }