<div class="col-container">
    <div class="col-right">
        <div class="col-wrap">
            <h2>افزودن دسته تازه</h2>

            <div class="form-field">
                <label>نام</label>
                <input type="text" class="wp-control" size="40" aria-required="true">
                <!-- <small>در سایت با این نام نمایش داده می‌شود.</small> -->
            </div>
            <!-- <div>
                <label>نامک</label>
                <input type="text" class="wp-control" size="40">
                <small>نامک نسخه لاتین واژه است که در نشانی‌ها (URLs)‌ استفاده می‌شود. برای نامگذاری فقط از
                    حروف،‌
                    ارقام و خط تیره استفاده کنید. نمایش فقط با حروف کوچک خواهد بود.</small>
            </div> -->
            <div class="form-field">
                <label>دستهٔ مادر</label>
                <select class="wp-select">
                    <option value="-1">هیچ کدام</option>
                    <option *ngFor="let category of allCategories;let i=index" [value]="i">{{category.name}}</option>
                </select>
                <small>دسته‌ها می‌توانند سلسله مراتب داشته باشند. به طور مثال شما می‌توانید یک دسته
                    به نام موسیقی داشته باشید و برای آن دسته، زیر دسته‌هایی مانند موسیقی ایرانی و یا موسیقی غربی
                    تعریف کنید.</small>
            </div>
            <div class="form-field">
                <label>توضیح</label>
                <textarea class="wp-textarea" rows="5" cols="40"></textarea>
                <!-- <small>توضیحات به صورت پیش فرض مهم نیستند، با این حال برخی از پوسته‌ها ممکن است آنها را نمایش دهند.
                </small> -->
            </div>

            <div class="submit">
                <button type="button" class="wp-btn wp-btn-primary">افزودن دسته تازه</button>
                <span class="spinner"></span>
            </div>

        </div>
    </div>
    <div class="col-left">


        <div class="col-wrap">

            <div class="tablenav">

                <div class="bulkactions">
                    <select class="wp-select">
                        <option value="-1">کارهای دسته‌جمعی</option>
                        <option value="delete">پاک کردن</option>
                    </select>
                    <button type="button" class="wp-btn">اجرا</button>
                </div>
                <!-- <div class="tablenav-pages one-page"><span class="displaying-num">1 مورد</span>
                    <span class="pagination-links">
                        <span class="tablenav-pages-navspan button disabled" aria-hidden="true">«</span>
                        <span class="tablenav-pages-navspan button disabled" aria-hidden="true">‹</span>
                        <span class="paging-input">
                            <input class="wp-control" type="text" size="1">
                            <span class="tablenav-paging-text"> از <span class="total-pages">1</span></span>
                        </span>
                        <span class="tablenav-pages-navspan button disabled" aria-hidden="true">›</span>
                        <span class="tablenav-pages-navspan button disabled" aria-hidden="true">»</span>
                    </span>
                </div> -->
            </div>
            <table class="wp-table">
                <thead>
                    <tr>
                        <td class="check-column">
                            <input class="wp-checkbox" type="checkbox">
                        </td>
                        <th scope="col" class="column-name column-primary sortable desc">
                            <a href="">
                                <span>نام</span>
                            </a>
                        </th>
                        <th scope="col" class="column-description sortable desc">
                            <a href="">
                                <span>توضیح</span>
                            </a>
                        </th>

                        <th scope="col" class="column-posts sortable desc">
                            <a href="">
                                <span>تعداد</span>
                            </a>
                        </th>
                    </tr>
                </thead>

                <!-- <tbody [app-media-category-table]="categories"> -->
                <tbody>
                    <ng-container *ngFor="let category of allCategories">
                        <tr [class.editbar-open]="category.isEdited">
                            <th scope="row" class="check-column">
                                <!-- TODO:: ng model undefined -->
                                <input type="checkbox" [(ngModel)]="category.isSelected" class="wp-checkbox">
                            </th>
                            <td class="column-name column-primary">
                                <strong>
                                    <a class="row-title" href="#">{{category.name}}</a>
                                </strong>
                               
                                <div class="row-actions">
                                    <span class="edit"><button type="button" class="app-normall-btn"
                                            (click)="closeEditRow(category)">ویرایش</button> |
                                    </span>
                                    <span class="delete"><button type="button" class="app-normall-btn">پاک کردن</button> |
                                    </span>
                                    <span class="view"><button type="button" class="app-normall-btn">نمایش</button></span>
                                </div>
                             
                
                            </td>
                            <td class="column-description">
                                <span>{{category.description ? category.description : '-'}}</span>
                            </td>
                
                            <td class="column-posts">
                                <a href="#">{{category.childrenCount}}</a>
                            </td>
                        </tr>
                        <tr *ngIf="category.isEdited">
                            <td colspan="4" class="inline-edit">
                
                                <fieldset>
                                    <legend class="inline-edit-legend">ویرایش</legend>
                
                                    <div class="inline-edit-col">
                                        <label>
                                            <span class="title">نام</span>
                                            <span class="input-text-wrap">
                                                <input type="text" [(ngModel)]="category.name" class="wp-control">
                                            </span>
                                        </label>
                
                                        <label>
                                            <span class="title">توضیح</span>
                                            <span class="input-text-wrap">
                                                <textarea rows="5" cols="40" class="wp-textarea">{{category.description}}</textarea>
                                            </span>
                                        </label>
                                        <label>
                                            <span class="title">دستهٔ مادر</span>
                                            <span class="input-text-wrap">
                                                <select class="wp-select">
                                                    <option value="-1">هیچ کدام</option>
                                                    <option *ngFor="let category of allCategories;let i=index" [value]="i">{{category.name}}</option>
                                                </select>
                                            </span>
                                        </label>
                                    </div>
                                   
                                </fieldset>
                
                
                                <div class="inline-edit-save">
                                    <button type="button" class="cancel wp-btn" (click)="category.isEdited = false">لغو</button>
                                    <span class="spinner"></span>
                                    <button type="button" class="save wp-btn wp-btn-primary">بروزرسانی
                                        دسته</button>
                
                                </div>
                
                            </td>
                        </tr>
                    </ng-container>
                </tbody>



            </table>



            <!-- <div class="term-notes">
                <p class="description">
                    حذف یک دسته باعث حذف نوشته‌های آن دسته نمی‌شود. درعوض، نوشته‌هایی که فقط به دسته حذف شده اختصاص داده
                    شده بودند بر روی دسته پیش‌فرض <strong>کارت ملی</strong> تنظیم شده‌اند. دسته پیش‌فرض را نمی‌توان
                    حذف کرد.</p>
                <p class="description">
                    می‌توان دسته‌های دل‌خواه را با بکارگیری <a href="http://localhost/wp-admin/import.php">برگردان دسته
                        به برچسب </a> به برچسب برگرداند. </p>
            </div> -->
        </div>
    </div>
</div>