<p-toast key="MediaCategoryToast" position="bottom-left" [showTransitionOptions]="'400ms'"
    [hideTransitionOptions]="'400ms'" [baseZIndex]="1102"
    [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<app-dialog-upload></app-dialog-upload>
<p-confirmDialog #confirmDialog [rtl]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
    [style]="{width: '35vw'}">
    <ng-template pTemplate="footer">
        <p-button label="لغو" class="ms-auto" styleClass="p-button-danger p-button-outlined" icon="pi pi-times"
            (click)="confirmDialog.reject()"></p-button>
        <p-button label="حذف" styleClass="p-button-success" icon="pi pi-check" (click)="confirmDialog.accept()">
        </p-button>
    </ng-template>
</p-confirmDialog>
<div class="col-container">
    <div class="col-right">
        <div class="col-wrap">
            <h4>افزودن دسته جدید</h4>

            <div class="form-field">
                <label>نام</label>
                <input type="text" class="wp-control" size="40" aria-required="true" [(ngModel)]="newCategoryName">
                <small class="wp-error">مقدار وارد شده صحیح نمی باشد.</small>
                <!-- <small>در سایت با این نام نمایش داده می‌شود.</small> -->
            </div>
            <!-- <div>
                <label>نامک</label>
                <input type="text" class="wp-control" size="40">
                <small>نامک نسخه لاتین واژه است که در نشانی‌ها (URLs)‌ استفاده می‌شود. برای نامگذاری فقط از
                    حروف،‌
                    ارقام و خط تیره استفاده کنید. نمایش فقط با حروف کوچک خواهد بود.</small>
            </div> -->
            <div class="form-field">
                <label>دستهٔ مادر</label>
                <select class="wp-select" [(ngModel)]="newCategoryParent">
                    <option value="-1">هیچ کدام</option>
                    <option *ngFor="let category of allCategoriesFlatten;let i=index" [value]="i">{{category.name}}</option>
                </select>
                <small>دسته‌ها می‌توانند سلسله مراتب داشته باشند. به طور مثال شما می‌توانید یک دسته
                    به نام موسیقی داشته باشید و برای آن دسته، زیر دسته‌هایی مانند موسیقی ایرانی و یا موسیقی غربی
                    تعریف کنید.</small>
            </div>
            <div class="form-field">
                <label>توضیح</label>
                <textarea class="wp-textarea" rows="5" cols="40" [(ngModel)]="newCategoryDesc"></textarea>
                <small class="wp-error">مقدار وارد شده صحیح نمی باشد.</small>
                <!-- <small>توضیحات به صورت پیش فرض مهم نیستند، با این حال برخی از پوسته‌ها ممکن است آنها را نمایش دهند.
                </small> -->
            </div>

            <div class="submit">
                <button type="button" class="wp-btn wp-btn-primary" (click)="addNewCategory()">افزودن دسته تازه</button>
                <span class="spinner" *ngIf="addNewCatSpinner"></span>
            </div>

        </div>
    </div>
    <div class="col-left">


        <div class="col-wrap">

            <div class="tablenav">

                <div class="bulkactions">
                    <select class="wp-select">
                        <option value="-1">کارهای دسته‌جمعی</option>
                        <option value="delete">پاک کردن</option>
                    </select>
                    <button type="button" class="wp-btn">اجرا</button>
                </div>
                <!-- <div class="tablenav-pages one-page"><span class="displaying-num">1 مورد</span>
                    <span class="pagination-links">
                        <span class="tablenav-pages-navspan button disabled" aria-hidden="true">«</span>
                        <span class="tablenav-pages-navspan button disabled" aria-hidden="true">‹</span>
                        <span class="paging-input">
                            <input class="wp-control" type="text" size="1">
                            <span class="tablenav-paging-text"> از <span class="total-pages">1</span></span>
                        </span>
                        <span class="tablenav-pages-navspan button disabled" aria-hidden="true">›</span>
                        <span class="tablenav-pages-navspan button disabled" aria-hidden="true">»</span>
                    </span>
                </div> -->
                <div class="search-box">
                    <input type="search" class="wp-control" [(ngModel)]="tableSearch"
                        (ngModelChange)="tableSearchOpration()">
                    <button type="button" class="wp-btn">جستجوی دسته‌ها</button>
                </div>
            </div>
            <table class="wp-table">
                <thead>
                    <tr>
                        <td class="check-column">
                            <input class="wp-checkbox" type="checkbox" [(ngModel)]="rootCheckbox"
                                (ngModelChange)="toggleAllCheckboxs()">
                        </td>
                        <th scope="col" *ngFor="let column of theadColObject" [class]="column.class"
                            [class.sortable]="column.isSortable" [class.desc]="!column.order"
                            (click)="column.order = !column.order">
                            <span>{{column.name}}</span>
                        </th>
                    </tr>
                </thead>

                <!-- <tbody [app-media-category-table]="categories"> -->
                <tbody>
                    <ng-container *ngFor="let category of allCategoryShow">
                        <tr [class.app-remove-highlight]="category.isRemoved" [class.app-edit-highlight]="category.isEdited" [class.app-add-highlight]="category.isAdded" [class.editbar-open]="category.isEditOpen">
                            <th scope="row" class="check-column">
                                <!-- TODO:: ng model undefined -->
                                <input type="checkbox" [(ngModel)]="category.isSelected" class="wp-checkbox"
                                    (ngModelChange)="toggleCategorySelect()">
                            </th>
                            <td class="column-name column-primary">
                                <strong>
                                    <div class="row-title line-clamp" [title]="category.name">
                                        <span class="dash-level"
                                            *ngFor="let n of dashLevelCount(category.level)"></span>
                                        {{category.name}}
                                    </div>
                                </strong>

                                <div class="row-actions">
                                    <span class="edit"><button type="button" class="app-normall-btn"
                                            (click)="closeEditRow(category)">ویرایش</button> |
                                    </span>
                                    <span class="delete"><button type="button" class="app-normall-btn" (click)="showDeleteCategoryConf(category)">پاک کردن</button>
                                        |
                                    </span>
                                    <span class="view"><button type="button" class="app-normall-btn"
                                            (click)="openImagePicker($event)">نمایش</button></span>
                                </div>


                            </td>
                            <td class="column-description">
                                <span class="line-clamp" [title]="category.description">{{category.description ?
                                    category.description : '-'}}</span>
                            </td>

                            <td class="column-posts">
                                <a href="#">{{category.childrenCount}}</a>
                            </td>
                        </tr>
                        <tr *ngIf="category.isEditOpen">
                            <td colspan="4" class="inline-edit">

                                <fieldset>
                                    <legend class="inline-edit-legend">ویرایش</legend>

                                    <div class="inline-edit-col">
                                        <label>
                                            <span class="title">نام</span>
                                            <span class="input-text-wrap">
                                                <input type="text" [(ngModel)]="editCategoryName" class="wp-control">
                                                <small class="wp-error">مقدار وارد شده صحیح نمی باشد.</small>
                                            </span>
                                        </label>

                                        <label>
                                            <span class="title">توضیح</span>
                                            <span class="input-text-wrap">
                                                <textarea rows="5" cols="40" class="wp-textarea"
                                                    [(ngModel)]="editCategoryDesc">{{category.description}}</textarea>
                                                <small class="wp-error">مقدار وارد شده صحیح نمی باشد.</small>
                                            </span>
                                        </label>
                                        <label>
                                            <span class="title">دستهٔ مادر</span>
                                            <span class="input-text-wrap">
                                                <select class="wp-select" [(ngModel)]="editCategoryParent">
                                                    <option value="-1">هیچ کدام</option>
                                                    <ng-container *ngFor="let categoryOpt of allCategoriesFlatten;let i=index">
                                                        <option *ngIf="categoryOpt != category"
                                                            [selected]="(category.parentId == categoryOpt.categoryUUID) ? true : false"
                                                            [value]="i">{{categoryOpt.name}}</option>
                                                    </ng-container>
                                                </select>
                                            </span>
                                        </label>
                                    </div>

                                </fieldset>


                                <div class="inline-edit-save">
                                    <button type="button" class="cancel wp-btn"
                                        (click)="category.isEditOpen = false">لغو</button>
                                    <span class="spinner" *ngIf="addEditCatSpinner"></span>
                                    <button type="button" class="save wp-btn wp-btn-primary"
                                        (click)="updateCategory(category)">بروزرسانی
                                        دسته</button>

                                </div>

                            </td>
                        </tr>
                    </ng-container>
                </tbody>



            </table>
            
           
            <div class="pagination-container" *ngIf="tableLastPage > 1">
                <button type="button" class="wp-btn" *ngIf="paginationItems.hasPrev" (click)="state.page=1;buildTable()"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path d="M163.435,124.189l-1.669,1.692-1.066-1.072,2.735-2.773,1.14-1.155-1.14-1.155-2.735-2.772,1.066-1.072,1.669,1.692,3.265,3.307Z" transform="translate(-156.7 -115.881)" fill="#2271b1" /><path d="M163.435,124.189l-1.669,1.692-1.066-1.072,2.735-2.773,1.14-1.155-1.14-1.155-2.735-2.772,1.066-1.072,1.669,1.692,3.265,3.307Z" transform="translate(-160.7 -115.881)" fill="#2271b1" /></svg></button>
                <button type="button" class="wp-btn" *ngIf="paginationItems.hasPrev" (click)="state.page=state.page-1;buildTable()">قبلی</button>
                <button *ngFor="let pageItem of paginationItems.pageItems" type="button" class="wp-btn" [disabled]="pageItem.isActive" [class.wp-btn-primary]="pageItem.isActive" (click)="state.page=pageItem.page;buildTable()">{{pageItem.page}}</button>
                <button type="button" class="wp-btn" *ngIf="paginationItems.hasNext" (click)="state.page=state.page+1;buildTable()">بعدی</button>
                <button type="button" class="wp-btn" *ngIf="paginationItems.hasNext" (click)="state.page=tableLastPage;buildTable()"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><g transform="translate(0 0)"><path d="M163.965,124.189l1.669,1.692,1.066-1.072-2.735-2.773-1.14-1.155,1.14-1.155,2.735-2.772-1.066-1.072-1.669,1.692L160.7,120.88Z" transform="translate(-160.7 -115.881)" fill="#2271b1" /><path d="M163.965,124.189l1.669,1.692,1.066-1.072-2.735-2.773-1.14-1.155,1.14-1.155,2.735-2.772-1.066-1.072-1.669,1.692L160.7,120.88Z" transform="translate(-156.7 -115.881)" fill="#2271b1" /></g></svg></button>
              </div>

            <!-- <div class="term-notes">
                <p class="description">
                    حذف یک دسته باعث حذف نوشته‌های آن دسته نمی‌شود. درعوض، نوشته‌هایی که فقط به دسته حذف شده اختصاص داده
                    شده بودند بر روی دسته پیش‌فرض <strong>کارت ملی</strong> تنظیم شده‌اند. دسته پیش‌فرض را نمی‌توان
                    حذف کرد.</p>
                <p class="description">
                    می‌توان دسته‌های دل‌خواه را با بکارگیری <a href="http://localhost/wp-admin/import.php">برگردان دسته
                        به برچسب </a> به برچسب برگرداند. </p>
            </div> -->
        </div>
    </div>
</div>