.col-right {
    float: right;
    width: 35%;
    input,small,textarea{
        width: 95%;
    }
    select{
        max-width: 95%;
    }
    
}
.col-left {
    float: left;
    width: 65%;
}
.form-field{
    margin: 0.8rem 0;
}
.bulkactions select{
    float: right;
    margin-left: 6px;
    max-width: 12.5rem;
}
small:not(.wp-error){
    font-size: 0.81rem;
    margin: 2px 0 5px;
    padding: 0;
    color: #646970;
    display: block;
    line-height: 1.5;
}
.wp-error{
    color: #f44336;
    display: block;
    // position: absolute;
    // bottom: -1.8em;
    font-size: 0.7rem;
    white-space: nowrap;
    line-height: 2;
}
label{
    font-size: 0.81rem;
    display: block;
    padding: 2px 0;
    color: #1d2327;
    font-weight: 400;
    text-shadow: none;
    vertical-align: baseline;
   cursor: pointer;
}
div.submit{
    margin: 2px 0 5px;
    color: #646970;
    padding: 1.5em 0;
    .spinner{
        margin-right: 1rem;
    }
}
.dash-level{
    width: 8px;
    height: 2px;
    background: #2271b1;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}
.pagination-container{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    button{
        margin: 0 2px;
    }
}




