.media-frame-router {
    border-bottom: 1px solid #b7b7b7;
    .media-menu-item {
        background: #fff;
        border: 0;
        font-size: 14px;
        padding: 0.4rem;
        margin: 0 0.5rem 0 0;
    }
    .active{
        
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-color: #b7b7b7;
        // border-radius: 5px 5px 0 0;
        transform: translateY(1px);
    }
}

.attachments-wrapper {
    .attachments {
        margin: 1.3rem 0 0 0;
        padding: 0;
        li {
            position: relative;
            float: right;
            padding: 8px;
            margin: 0;
            color: #3c434a;
            cursor: pointer;
            list-style: none;
            text-align: center;
            -webkit-user-select: none;
            user-select: none;
            width: 10%;
        }
        button.check {
            display: none;
            height: 24px;
            width: 24px;
            padding: 0;
            border: 0;
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            outline: 0;
            background: #f0f0f1;
            cursor: pointer;
            box-shadow: 0 0 0 1px #fff, 0 0 0 2px #00000026;
            .upload-modal-icon {
                display: block;
                background-position: -21px 0;
                height: 15px;
                width: 15px;
                margin: 5px;
                background-image: url("../../../../assets/images/uploader-icons.png");
                background-repeat: no-repeat;
            }
        }
        li.selected {
            box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #2271b1;
            .check {
                background-color: #2271b1;
                box-shadow: 0 0 0 1px #fff, 0 0 0 2px #2271b1;
                display: block;
            }
        }
    }
    .attachment-preview {
        position: relative;
        box-shadow: inset 0 0 15px #0000001a, inset 0 0 0 1px #0000000d;
        background: #f0f0f1;
        cursor: pointer;
        &::before {
            content: "";
            display: block;
            padding-top: 100%;
        }
        .thumbnail {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 1;
            transition: opacity 0.1s;
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                box-shadow: inset 0 0 0 1px #0000001a;
                overflow: hidden;
            }
            .centered {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                transform: translate(-50%, 50%);
            }
            img {
                position: absolute;
                top: 0;
                right: 0;
                max-height: 100%;
                transform: translate(50%, -50%);
            }
        }
        .upload-progress-bar {
            position: absolute;
            top: 50%;
            right: 15%;
            width: 70%;
            margin: -5px 0 0 0;
            height: 10px;
            border-radius: 10px;
            background: #dcdcde;
            background: rgba(0, 0, 0, 0.1);
            div {
                height: 10px;
                min-width: 20px;
                width: 0;
                background: #2271b1;
                border-radius: 10px;
                transition: width 0.3s;
            }
        }
    }
}
.load-more-wrapper {
    font-size: 0.8rem;
    clear: both;
    text-align: center;
    padding: 1em 0;
    .hidden {
        display: none;
    }
    p {
        margin: 0.5em 0 1em 0;
    }
}
.message-container {
    margin-top: 1.3rem;
    .message-wrapper {
        color: #1d2327;
        list-style: none;
        margin: 0;
        padding: 0;
        .empty-text {
            font-size: 1.2rem;
            line-height: 1.4;
            font-weight: bold;
            margin: 0;
        }
        .message-item {
            padding: 1rem 8px;
        }
    }
}
.media-frame-tab-panel {
    height: 100%;
    .media-frame-content {
        height: 100%;
    }
}
.is-dragover {
    background-color: #fff;
    * {
        pointer-events: none;
    }
}
.uploader-inline-container {
    width: 100%;
    padding: 2rem;
    height: calc(100% - 30px);
}
.uploader-inline {
    position: relative;
    padding: 1.5rem;
    border: 4px dashed #c3c4c7;
    text-align: center;
    color: #3c434a;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    #input-file {
        display: none;
    }
    p {
        margin: 0.4rem 0;
        font-size: 0.8rem;
    }
    h2 {
        font-size: 1.2rem;
        line-height: 1.4;
        font-weight: bold;
        margin: 0;
        color: #1d2327;
    }
    .upload-ui {
        margin-bottom: 1.5rem;
    }
    .button-hero {
        min-height: 45px;
        line-height: 3;
        font-size: 0.85rem;
        padding: 0 2rem;
    }
}
.attachments-browser {
    height: 100%;
    display: flex;
    position: relative;
    .media-sidebar {
        flex: 0 0 25%;
        max-width: 25%;
        padding: 12px 16px;
        z-index: 75;
        background: #f6f7f7;
        border-right: 1px solid #dcdcde;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        box-shadow: inset 0 4px 4px -4px #0000001a;
        .image-preview {
            width: 100%;
            padding-top: 100%;
            background-size: cover;
            background-position: center;
            box-shadow: inset 0 0 0 1px #0000001a;
        }
    }
    .attachments-wrapper {
        flex: 0 0 75%;
        max-width: 75%;
    }
}
.attachment-info {
    height: 100%;
    font-size: 13px;

    .settings-save-status {
        float: left;
    }
    > div:not(:last-child) {
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #dcdcde;
    }
    .details {
    }
    .settings {
    }
    .actions {
    }
    .p-field {
        display: block;
        float: right;
        width: 100%;
        margin: 0 0 10px;
        label {
            min-width: 30%;
            margin-left: 4%;

            text-align: left;
            word-wrap: break-word;
            float: right;
            min-height: 22px;
            padding-top: 8px;
            line-height: 1.33333333;
            font-weight: 400;
            color: #646970;
        }

        input,
        textarea {
            width: 65%;
            float: left;
        }
        small {
            margin: 0 1px;
            text-align: right;
            width: 65%;
            float: left;
            line-height: 1.5;
            clear: both;
            font-size: 12px;
            font-style: normal;
            margin-bottom: 10px;
            display: block;
        }
        .field-desc {
            margin: 0 1px;
            text-align: right;
            width: 65%;
            float: left;
            color: #646970;
            line-height: 1.5;
            clear: both;
            font-size: 12px;
            font-style: normal;
            margin-bottom: 10px;
        }
    }
}
