// layout is global
@import "./assets/scss/layout/font.scss";
@import "./assets/scss/layout/spinner.scss";

@import "./assets/scss/ngx-bootstrap/vertical-menu/accordion.scss";

// primeng rtl thing
@import "./assets/scss/primeng/primeng-rtl.scss";
// primeng utility added in this app
@import "./assets/scss/primeng/primeng-utility.scss";

// app utility
@import "./assets/scss/app-global/style.scss";


