<div class="media-frame-content">
    <div class="attachments-browser has-load-more">


        <div class="uploader-inline">
            <!-- <button class="close"></button> -->
            <div class="uploader-inline-content">
                <div class="upload-ui">
                    <h2 class="upload-instructions">برای بارگذاری، پرونده‌ها را بکشید</h2>
                    <p>یا</p>
                    <button type="button" class="btn button-hero wp-btn">گزینش پرونده‌ها</button>
                </div>
                <p class="max-upload-size">حداکثر اندازه پرونده برای بارگذاری: 200 مگابایت. </p>
            </div>
        </div>


        <div class="media-toolbar">
            <div class="media-toolbar-secondary">

            </div>
            <div class="media-toolbar-primary">
                <label>جستجو</label>
                <input type="text" class="app-small-input" pInputText/>
            </div>
        </div>

        <div class="attachments-wrapper">
            <ul class="attachments" tabindex="-1">
                <li tabindex="0" role="checkbox" aria-label="shishtzu-dog" aria-checked="false" data-id="722"
                    class="attachment selected">
                    <div class="attachment-preview">
                        <div class="thumbnail">
                            <!-- <div class="media-progress-bar"><div style="width: 5%"></div></div> -->
                            <div class="centered">
                                <img src="./assets/images/sample-upload.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="check" tabindex="-1">
                        <span class="media-modal-icon"></span>
                    </button>
                </li>
                <li tabindex="0" role="checkbox" aria-label="shishtzu-dog" aria-checked="false" data-id="722"
                    class="attachment selected">
                    <div class="attachment-preview">
                        <div class="thumbnail">
                            <!-- <div class="media-progress-bar"><div style="width: 5%"></div></div> -->
                            <div class="centered">
                                <img src="./assets/images/sample-upload.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="check" tabindex="-1">
                        <span class="media-modal-icon"></span>
                    </button>
                </li>
                <li tabindex="0" role="checkbox" aria-label="shishtzu-dog" aria-checked="false" data-id="722"
                    class="attachment selected">
                    <div class="attachment-preview">
                        <div class="thumbnail">
                            <!-- <div class="media-progress-bar"><div style="width: 5%"></div></div> -->
                            <div class="centered">
                                <img src="./assets/images/sample-upload.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="check" tabindex="-1">
                        <span class="media-modal-icon"></span>
                    </button>
                </li>
                <li tabindex="0" role="checkbox" aria-label="shishtzu-dog" aria-checked="false" data-id="722"
                    class="attachment selected">
                    <div class="attachment-preview">
                        <div class="thumbnail">
                            <!-- <div class="media-progress-bar"><div style="width: 5%"></div></div> -->
                            <div class="centered">
                                <img src="./assets/images/sample-upload.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="check" tabindex="-1">
                        <span class="media-modal-icon"></span>
                    </button>
                </li>
                <li tabindex="0" role="checkbox" aria-label="shishtzu-dog" aria-checked="false" data-id="722"
                    class="attachment selected">
                    <div class="attachment-preview">
                        <div class="thumbnail">
                            <!-- <div class="media-progress-bar"><div style="width: 5%"></div></div> -->
                            <div class="centered">
                                <img src="./assets/images/sample-upload.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="check" tabindex="-1">
                        <span class="media-modal-icon"></span>
                    </button>
                </li>
                <li tabindex="0" role="checkbox" aria-label="shishtzu-dog" aria-checked="false" data-id="722"
                    class="attachment selected">
                    <div class="attachment-preview">
                        <div class="thumbnail">
                            <!-- <div class="media-progress-bar"><div style="width: 5%"></div></div> -->
                            <div class="centered">
                                <img src="./assets/images/sample-upload.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="check" tabindex="-1">
                        <span class="media-modal-icon"></span>
                    </button>
                </li>
                <li tabindex="0" role="checkbox" aria-label="shishtzu-dog" aria-checked="false" data-id="722"
                    class="attachment selected">
                    <div class="attachment-preview">
                        <div class="thumbnail">
                            <!-- <div class="media-progress-bar"><div style="width: 5%"></div></div> -->
                            <div class="centered">
                                <img src="./assets/images/sample-upload.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="check" tabindex="-1">
                        <span class="media-modal-icon"></span>
                    </button>
                </li>
                <li tabindex="0" role="checkbox" aria-label="shishtzu-dog" aria-checked="false" data-id="722"
                    class="attachment selected">
                    <div class="attachment-preview">
                        <div class="thumbnail">
                            <!-- <div class="media-progress-bar"><div style="width: 5%"></div></div> -->
                            <div class="centered">
                                <img src="./assets/images/sample-upload.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="check" tabindex="-1">
                        <span class="media-modal-icon"></span>
                    </button>
                </li>
            </ul>
            <div class="load-more-wrapper">
                <span class="spinner"></span>
                <p class="load-more-count">نمایش 80 از 171 موارد رسانه</p>
                <button type="button" class="btn btn-primary">بارگذاری بیشتر</button>
                <button type="button" class="btn load-more-jump hidden" disabled="">پرش به اولین مورد بارگذاری
                    شده</button>
            </div>
        </div>
    </div>
</div>