<h1>افزودن سیستم</h1>
<button type="button" class="wp-btn" (click)="addSystem()">ثبت</button>
<input type="text" [(ngModel)]="newSystemName">
<div class="system-container" *ngIf="systems.length">
    <ul class="system-wrapper">
        <li *ngFor="let system of systems">
            {{system.name}}
            <button type="button" class="wp-btn" (click)="confirmDeleteSystemComponent.deleteSystem(system)">حذف سیستم</button>
        </li>
    </ul>
</div>
<app-confirm-delete-system (update)="updateFromDeleteSystem($event)"></app-confirm-delete-system>