<div class="upload-frame-content">
    <div class="attachments-browser has-load-more">


        <div class="uploader-inline">
            <!-- <button class="close"></button> -->
            <div class="uploader-inline-content">
                <div class="upload-ui">
                    <p-fileUpload  [customUpload]="true" (uploadHandler)="onUpload($event)" name="image" accept="image/*" [multiple]="true" [auto]="true">
                       
                    </p-fileUpload>
                    <!-- <input type="file" name="image" (change)="onUpload($event)" multiple/>  -->
                    <h2 class="upload-instructions">برای بارگذاری، پرونده‌ها را بکشید</h2>
                    <p>یا</p>
                    <button type="button" class="button-hero wp-btn">گزینش پرونده‌ها</button>
                </div>
                <p class="max-upload-size">حداکثر اندازه پرونده برای بارگذاری: 200 مگابایت. </p>
            </div>
        </div>


        <div class="upload-toolbar">
            <div class="upload-toolbar-secondary">

            </div>
            <div class="upload-toolbar-primary">
                <label>جستجو</label>
                <input type="text" class="app-small-input" pInputText />
            </div>
        </div>

        <div class="attachments-wrapper">

            <ul *ngIf="images.length; else noImage" class="attachments" tabindex="-1">
                <!-- <li tabindex="0" role="checkbox" aria-label="shishtzu-dog" aria-checked="false" data-id="722"
                    class="attachment selected">
                    <div class="attachment-preview">
                        <div class="thumbnail"> -->
                <!-- // <div class="upload-progress-bar"><div style="width: 5%"></div></div> -->
                <!-- <div class="centered">
                                <img src="./assets/images/sample-upload.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="check" tabindex="-1">
                        <span class="upload-modal-icon"></span>
                    </button>
                </li> -->
                <!-- <li tabindex="0" role="checkbox" aria-label="shishtzu-dog" aria-checked="false" data-id="722"
                    class="attachment">
                    <div class="attachment-preview">
                        <div class="thumbnail">
                            <div class="upload-progress-bar"><div style="width: 50%"></div></div> -->
                <!--// <div class="centered">
                               // <img src="./assets/images/sample-upload.jpg" alt="">
                               // </div> -->
                <!-- </div>
                    </div>
                    <button type="button" class="check" tabindex="-1">
                        <span class="upload-modal-icon"></span>
                    </button>
                </li> -->
                <li *ngFor="let image of images" (click)="openUploadDetailsDialog(image)" tabindex="0" role="checkbox" aria-checked="false" class="attachment">
                    <div class="attachment-preview">
                        <div class="thumbnail">
                            <!-- <div class="upload-progress-bar"><div style="width: 5%"></div></div> -->
                            <div class="centered">
                                <img [src]="'./assets/api/upload/MEDIA/IMAGE/' + image.mediaUUID + '/' + image.name"
                                    [alt]="image.name.split('.')[0]">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="check" tabindex="-1">
                        <span class="upload-modal-icon"></span>
                    </button>
                </li>

            </ul>
            <ng-template #noImage>
                <div class="message-container">
                    <ul class="message-wrapper">
                        <li class="message-item">
                            <h2 class="empty-text">
                                موردی برای نمایش وجود ندارد.
                            </h2>
                        </li>
                    </ul>
                </div>
            </ng-template>
            <div *ngIf="images.length" class="load-more-wrapper">
                <span class="spinner" [class.hidden]="!showLoading"></span>
                <p class="load-more-count">نمایش {{images.length}} از {{tableRowsTotal}} موارد رسانه</p>
                <button *ngIf="images.length != tableRowsTotal" type="button" class="wp-btn wp-btn-primary"
                    (click)="loadMoreImage()">بارگذاری بیشتر</button>
                <button type="button" class="btn load-more-jump hidden" disabled=""></button>
            </div>
        </div>
    </div>
</div>
<app-upload-details-dialog></app-upload-details-dialog>