<div class="upload-frame-content">
    <div class="attachments-browser has-load-more">


        <div class="uploader-inline" appDragDropUpload (appdrop)="onUpload($event)">
            <div class="uploader-inline-content">
                <div class="upload-ui">
                    <h2 class="upload-instructions">برای بارگذاری، پرونده‌ها را بکشید</h2>
                    <p>یا</p>
                    <input type="file" name="image" id="input-file" accept="image/*" (change)="onUpload($event.target)"
                        multiple />
                    <label for="input-file" class="button-hero wp-btn">گزینش پرونده‌ها</label>
                </div>
                <p class="max-upload-size">حداکثر اندازه پرونده برای بارگذاری: 200 مگابایت. </p>
            </div>
        </div>


        <div class="upload-toolbar">

            <mat-form-field class="search-field" appearance="fill">
                <mat-label>جستجو</mat-label>
                <input matInput type="text" [(ngModel)]="searchField" (ngModelChange)="searchFieldOpration()">
                <button *ngIf="searchField" matSuffix mat-icon-button aria-label="Clear" (click)="searchField=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

        </div>

        <div class="attachments-wrapper">
            <ul *ngIf="images.length; else noImage" tabindex="-1">
        <!--         <li tabindex="0" class="selected">
                    <div class="attachment-preview">
                        <div class="thumbnail">
                            <div class="upload-progress-bar">
                                <div style="width: 5%"></div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="check" tabindex="-1">
                        <span class="upload-modal-icon"></span>
                    </button>
                </li> -->
                <!-- <li tabindex="0">
                    <div class="attachment-preview">
                        <div class="thumbnail">
                            <div class="upload-progress-bar">
                                <div style="width: 50%"></div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="check" tabindex="-1">
                        <span class="upload-modal-icon"></span>
                    </button>
                </li> -->
                <li *ngFor="let image of images;let index = index" (click)="openDialog(image)" tabindex="0" [ngClass]="{'app-remove-highlight':image.isRemoved, 'app-edit-highlight': image.isEdited, 'app-add-highlight':image.isAdded}">
                    <div class="attachment-preview">
                        <div class="thumbnail">
                            <!-- <div class="upload-progress-bar"><div style="width: 5%"></div></div> -->
                            <div class="centered">
                                <img class="details-image" [src]="image.resourceUrl" [alt]="image.alternateText">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="check" tabindex="-1">
                        <span class="upload-modal-icon"></span>
                    </button>
                </li>
        
            </ul>
            <ng-template #noImage>
                <div class="empty-attachment-msg">
                    <h2>
                        موردی برای نمایش وجود ندارد.
                    </h2>
                </div>
            </ng-template>
            <div *ngIf="images.length" class="load-more-wrapper">
               <div>
                    <p class="load-more-count">نمایش {{images.length}} از {{tableRowsTotal}} موارد رسانه</p>
                    <mat-spinner [diameter]="20" [class.hidden]="!showLoading"></mat-spinner>
               </div>
                <button *ngIf="!isDone" mat-raised-button type="button" color="primary" (click)="loadMoreImage()">بارگذاری بیشتر</button>
            </div>
        </div>
    </div>
</div>