
#app-body {
    margin-right: 260px;
}
#vertical-menu{
    width: 260px;
    background: #313a46;
    z-index: 100;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    box-shadow: 0 0 35px 0 #9aa1ab26;
    padding-top: 70px;
    overflow-y: auto;
    overflow-x: hidden;

    /* width */
    &::-webkit-scrollbar {
        width: 3px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #343c49;
        border-radius: 10px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 10px;
    }
    .logo {
        background-color: #313a46;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 260px;
        height: 70px;
        overflow: hidden;
        .logo-sm {
            display: none;
        }
    }
   
}