tr.app-remove-highlight {
    background: #ffe4e2 !important;
}
tr.app-edit-highlight {
    background: #fff8e2 !important;
}
tr.app-add-highlight {
    background: #e2ffed !important;
}

.custom-table-summary {
    background: #f8f9fa;
    color: #495057;
    border: 1px solid #e9ecef;
    border-width: 0 1px 1px 1px;
    padding: 0.5rem 0.5rem;
    font-weight: 600;
}
.table-search {
    width: 270px;
}
// table columns sort 
.p-datatable .p-datatable-thead > tr > th.p-element.p-sortable-column {
    color: #3f51b5;
    .p-sortable-column-icon {
        color: #3f51b5;
    }
}
.p-datatable .p-sortable-column.p-highlight {
    color: #2196f3 !important;
    .p-sortable-column-icon {
        color: #2196f3 !important;
    }
}
