tr.app-remove-highlight{
    background: #ffe4e2 !important;
}

.custom-table-summary {
    background: #f8f9fa;
    color: #495057;
    border: 1px solid #e9ecef;
    border-width: 0 1px 1px 1px;
    padding: 0.5rem 0.5rem;
    font-weight: 600;
}
.table-search{
    width: 270px;
}