tr.app-remove-highlight {
    background: #ffe4e2 !important;
}
tr.app-edit-highlight {
    background: #fff8e2 !important;
}
tr.app-add-highlight {
    background: #e2ffed !important;
}
tr.app-warn-highlight {
    // background: #e2ecff !important;
    box-shadow: inset 0 -0.5px 0px 3px #ff7f00;
}

.custom-table-summary {
    background: #f8f9fa;
    color: #495057;
    border: 1px solid #e9ecef;
    border-width: 0 1px 1px 1px;
    padding: 0.5rem 0.5rem;
    font-weight: 600;
}
.table-search {
    width: 270px;
}
// table columns sort
.p-datatable .p-datatable-thead > tr > th.p-element.p-sortable-column {
    color: #3f51b5;
    .p-sortable-column-icon {
        color: #3f51b5;
    }
}
.p-datatable .p-sortable-column.p-highlight {
    color: #2196f3 !important;
    .p-sortable-column-icon {
        color: #2196f3 !important;
    }
}
// primeng change in a component
app-upload-details-dialog {
    .p-dialog:not(.p-confirm-dialog) {
        height: 90vh;
        .p-dialog-header {
            padding: 0;
            .p-dialog-header-icon {
                cursor: pointer;
                color: #787c82;
                background-color: transparent;
                height: 50px;
                width: 50px;
                padding: 0;
                text-align: center;
                border: 0;
                border-radius: 0;
                border-right: 1px solid #dcdcde;
                transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
            }
        }
        .p-dialog-content {
            overflow: hidden;
            padding: 0;
        }
    }
}
app-dialog-upload {

    .p-dialog {
        height: 90vh;
        .p-dialog-content {
            height: 100%;
            overflow: hidden;
            padding: 0;
        }
    }
}
