/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/layout/fonts.scss";
@import "./assets/scss/layout/dialogs.scss";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Vazir, "Vazir";
}

.app-remove-highlight {
    background: #f4433633;
}
.app-edit-highlight {
    background: #f9ab0033;
}
.app-add-highlight {
    background: #46a35e33;
}
.mat-dialog-container {
    padding: 0 !important;
    overflow: hidden !important;
}
app-person-modification,
app-vehicle-modification,
app-company-modification,
app-letter-modification,
app-upload-category-modification {
    padding: 32px;
    display: block;
}

.app-upload-select-dialog .mat-tab-body-wrapper {
    height: 100%;
    mat-tab-body {
        &:first-child {
            .mat-tab-body-content {
                box-sizing: border-box;
                padding: 16px;
            }
        }
        &:last-child {
            .mat-tab-body-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                button {
                    margin-top: auto;
                }
            }
        }
    }
}

.mat-select-field {
    width: 100%;
    margin-top: 17.5px;
    padding: 0 16px;
    box-sizing: border-box;
    font-size: 15px;
    .mat-form-field-infix {
        border: 0;
        input {
            padding-left: 40px;
            box-sizing: border-box;
        }
    }
}
