@import "./assets/scss/layout/font.scss";
@import "./assets/scss/ngx-bootstrap-replacement/vertical-menu/accordion.scss";
@import "./assets/scss/primeng-replacement/person-list/p-table.scss";
@import "./assets/scss/primeng-replacement/global/p-toast.scss";
@import "./assets/scss/primeng-replacement/global/p-spinner.scss";

