<p-table [value]="persons" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>
            <th>ردیف</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>نام پدر</th>
            <th>کد ملی</th>
            <th>شماره شناسنامه</th>
            <th>محل تولد</th>
            <th>تاریخ تولد</th>
            <th>نام</th>
            <th>آدرس</th>
            <th>تلفن</th>
            <th>عملیات</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person let-rowIndex="rowIndex">
        <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{person.firstName}}</td>
            <td>{{person.lastName}}</td>
            <td>{{person.fatherName}}</td>
            <td>{{person.nationalID}}</td>
            <td>{{person.certificateNumber}}</td>
            <td>{{person.fromLocation}}</td>
            <td>{{person.birthDate}}</td>
            <td>{{person.stringBirthDate}}</td>
            <td>{{person.address}}</td>
            <td>{{person.phoneNumber}}</td>
            <td><span (click)="showDialog()">ویرایش</span></td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        Header content here
    </ng-template>
    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
    روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
    ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد،
    تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
    کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان
    مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
    <ng-template pTemplate="footer">
        //buttons
    </ng-template>
</p-dialog>