<div class="dialog-heading">
    <h1>پرونده رسانه</h1>
    <button mat-icon-button (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="dialog-content">

    <div class="thumbnail-image">
        <img class="details-image" [src]="data.element.resourceUrl" [alt]="data.element.alternateText">
    </div>
    <div class="attachment-info">
        <div>
            <div><strong>تاریخ بارگذاری:</strong> {{data.element.uploadDate | date:'fullDate'}}</div>
            <div><strong>نام پرونده:</strong> {{data.element.name}}</div>
            <div><strong>نوع پرونده:</strong> {{data.element.contentType}}</div>
            <div><strong>اندازه پرونده:</strong> {{data.element.size }} کیلوبایت</div>
            <div class="actions">
                <a mat-button [href]="data.element.resourceUrl" color="primary" target="_blank">نمایش صفحهٔ پیوست</a>
                <button type="button" mat-button color="warn" (click)="openDialog(data.element)">حذف برای همیشه</button>
            </div>
        </div>
        <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
          
            <mat-form-field appearance="fill" [hideRequiredMarker]="true">
                <mat-label>متن جایگزین</mat-label>
                <input matInput formControlName="alt">
                <mat-hint>هدف از تصویر را شرح دهید. اگر تصویر کاملا
                    تزئینی است این را خالی رها نمایید.</mat-hint>
                <mat-error *ngIf="cardForm.controls['alt'].invalid">بیشتر از 30 حرف مجاز نیست</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" [hideRequiredMarker]="true">
                <mat-label>توضیح</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-error *ngIf="cardForm.controls['description'].invalid">بیشتر از 30 حرف مجاز نیست</mat-error>
              </mat-form-field>
          
       

            <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>دسته بندی</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip
                    *ngFor="let selectedCategory of selectedCategories"
                    (removed)="remove(selectedCategory)">
                    {{selectedCategory.name}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input
                    placeholder="افزودن دسته..."
                    #fruitInput
                    formControlName="category"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                    {{category.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>


            
            <button mat-raised-button [disabled]="!cardForm.valid || cardForm.controls['description'].untouched" color="primary">ثبت</button>
            <!-- <mat-spinner [diameter]="25"></mat-spinner> -->
        </form>
    </div>
</div>