<div class="table-heading">
  <h1>{{tableHeadline}}</h1>
  <div class="row-span">
    <mat-form-field *ngIf="tableRows.length" class="search-field" appearance="fill">
      <mat-label>جستجو</mat-label>
      <input matInput type="text" [(ngModel)]="searchField" (ngModelChange)="tableSearch()">
      <button *ngIf="searchField" matSuffix mat-icon-button aria-label="Clear" (click)="searchField='';tableSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" [routerLink]="[addRouter]">افزودن</button>
  </div>
</div>
<div class="mat-elevation-z8" *ngIf="tableRows.length">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> ردیف </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container *ngFor="let column of columns" [matColumnDef]="column.field">
      <th mat-header-cell *matHeaderCellDef> {{column.name}} </th>
      <td mat-cell *matCellDef="let element"> {{(column.subProperty) ? element[column.field][column.subProperty.readableProperty] : element[column.field]}} </td>
    </ng-container>

    <!-- Opration Column -->
    <ng-container matColumnDef="opration">
      <th mat-header-cell *matHeaderCellDef>
        عملیات
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" [routerLink]="[editRouter]" [queryParams]="{ ob: element[idAttributeKey]}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" [disabled]="!element['removable']" (click)="openDialog(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      [ngClass]="{'app-remove-highlight':row.isRemoved, 'app-edit-highlight': row.isEdited, 'app-add-highlight':row.isAdded}"
      mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator (page)="loadTable($event)" [length]="totalRows" [pageSizeOptions]="[10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
<div *ngIf="!tableRows.length">
  <span class="app-spinner-container" [class.d-none]="!showLoading">
    <mat-spinner [diameter]="40"></mat-spinner>
    لطفا منتظر بمانید...
  </span>
  <h1 *ngIf="!showLoading">متاسفانه موردی ثبت نشده است.</h1>
</div>